$primary-color: #ffb8f0;
$secondary-color: #ffe8fa;
$footer-color: #ffccf4;
$font: 'Open Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

header {
    background-color: $primary-color;
    color: #fff;
    padding: 10px;
    text-align: center;

    h1 {
        font-size: 30px;
    }
}

footer {
    background-color: $footer-color;
    color: #fff;
    padding: 10px;
    text-align: center;

    p {
        font-size: 20px;
    }
}

.loginForm {
    background-color: $secondary-color;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    h2 {
        font-size: 20px;
    }

    input {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 0;
        background-color: $primary-color;
        color: #fff;
        font-size: 20px;
    }

    button {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 0;
        background-color: $primary-color;
        color: #fff;
        font-size: 20px;
    }
}

.home {
    form {
        background-color: $secondary-color;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

        h2 {
            font-size: 20px;
        }

        input {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 0;
            background-color: $primary-color;
            color: #fff;
            font-size: 20px;
        }

        button {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 0;
            background-color: $primary-color;
            color: #fff;
            font-size: 20px;
        }

        select {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 0;
            background-color: $primary-color;
            color: #fff;
            font-size: 20px;
        }

        textarea {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 0;
            background-color: $primary-color;
            color: #fff;
            font-size: 20px;
        }
    }
}