$main_color: #fff;
$secondary_color: #000;
$header_color: #9524ff;
$button_color: #ff9add;
$font: 'Raleway', sans-serif;

* {
    font-family: $font;
}

header {
    background-color: $header_color;
    color: $main_color;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: center;

    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    button {
        background-color: $button_color;
        color: $header_color;
        width: 140px;
        border: 0px;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;

        &:hover {
            background-color: $header_color;
            
            a {
                color: $main_color;
            }
        }
    }
}

body {
    background-color: $main_color;
    color: $secondary_color;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;

    .search {
        form {
            text-align: center;
            margin: 10px;

            input {
                width: 70%;
                height: 5vh;
                font-size: larger;
            }

            button {
                background-color: $button_color;
                width: 70%;
                height: 5vh;
                margin-top: 10px;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                font-size: 1.5em;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;
                    color: $main_color;
                }
            }
        }

        .search-results {
            text-align: center;

            .result {
                background-color: $button_color;
                display: inline-block;
                width: 200px;
                height: auto;
                margin-top: 10px;
                border: 0px;
                border-radius: 5px;
                padding: 20px;
                margin: 10px;
                font-size: 1.5em;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;

                    a {
                        color: $main_color;
                    }
                }
            }
        }
    }

    .admin-home {
        h1 {
            text-align: center;
            margin: 10px;
        }

        .uriCount {
            text-align: center;
            margin: 10px;
            border: #000 solid 1px;
            width: 400px;
        }

        form {
            text-align: center;
            margin: 10px;

            input {
                width: 70%;
                height: 5vh;
                font-size: larger;
            }

            button {
                background-color: $button_color;
                width: 70%;
                height: 5vh;
                margin-top: 10px;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                font-size: 1.5em;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;
                    color: $main_color;
                }
            }
        }

        .search-results {
            text-align: center;

            .result {
                background-color: $button_color;
                display: inline-block;
                width: 200px;
                height: auto;
                margin-top: 10px;
                border: 0px;
                border-radius: 5px;
                padding: 20px;
                margin: 10px;
                font-size: 1.5em;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;

                    a {
                        color: $main_color;
                    }
                }
            }
        }
    }

    .login {
        text-align: center;
        margin: 10px;
        display: grid;

        label {
            display: block;
            font-size: 1.5em;
        }

        input {
            width: 80%;
            height: 5vh;
            font-size: larger;
            margin: 10px;
        }

        button {
            background-color: $button_color;
            width: 80%;
            height: auto;
            margin-top: 10px;
            border: 0px;
            padding: 10px;
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $header_color;
                color: $main_color;
            }
        }
    }

    .userpage {
        text-align: center;
        margin: 10px;
        display: grid;

        .navbars {
            text-align: center;
            display: inline;

            .history-navbar {
                text-align: left;
                width: 340px;
                border: #000 solid 1px;
                float: left;
                margin: 10px;
    
                ul {
                    overflow: hidden;
                    overflow-y: scroll;
                    height: 40vh;
                    list-style-type: none;
                    padding: 0px;
    
                    li {
                        padding: 10px;
                        border-bottom: #000 solid 1px;
    
                        &:hover {
                            background-color: $button_color;
                        }
                    }
                }
            }
    
            .favorite-navbar {
                text-align: left;
                width: 340px;
                border: #000 solid 1px;
                float: left;
                margin: 10px;
    
                ul {
                    overflow: hidden;
                    overflow-y: scroll;
                    height: 40vh;
                    list-style-type: none;
                    padding: 0px;
    
                    li {
                        padding: 10px;
                        border-bottom: #000 solid 1px;
    
                        &:hover {
                            background-color: $button_color;
                        }
                    }
                }
            }
        }
    }

    .help-home {
        h1 {
            font-size: 3em;
            padding: 0px;
            margin: 0px;
        }

        .create-post {
            text-align: center;

            button {
                background-color: $button_color;
                color: $header_color;
                width: 420px;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                font-size: 1.5em;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;
                    color: $main_color;
                }
            }
        }

        .posts {
            text-align: center;

            .post {
                background-color: $button_color;
                display: inline-block;
                width: 80%;
                height: auto;
                margin-top: 10px;
                border: 0px;
                border-radius: 5px;
                padding: 20px;
                margin: 10px;
                font-size: 1.5em;
                text-align: left;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;

                    a {
                        color: $main_color;
                    }
                }
            }
        }

        .help-home-header {
            text-align: center;
        }
    }

    .post-view {
        text-align: right;

        .post-content {
            text-align: center;

            h1 {
                font-size: 3em;
                padding: 0px;
                margin: 0px;
            }

            p {
                font-size: 1.5em;
                padding: 10px;
                margin: 20px;
                border: #000 solid 1px;
            }
        }

        button {
            background-color: $button_color;
            color: $header_color;
            width: 200px;
            border: 0px;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $header_color;
                color: $main_color;
            }
        }
    }

    .help-create {
        text-align: center;
        display: block;

        h1 {
            font-size: 3em;
            padding: 0px;
            margin: 0px;
        }

        input {
            width: 80%;
            height: 5vh;
            font-size: larger;
            margin: 10px;
        }

        textarea {
            width: 80%;
            height: 20vh;
            font-size: larger;
            margin: 10px;
        }

        button {
            background-color: $button_color;
            color: $header_color;
            width: 450px;
            border: 0px;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $header_color;
                color: $main_color;
            }
        }
    }

    .comment-div {
        width: 100%;
        text-align: center;
        display: grid;

        .write-comment {
            text-align: center;
            width: 40%;

            h1 {
                font-size: 3em;
                padding: 0px;
                margin: 0px;
            }

            input {
                width: 80%;
                height: 5vh;
                font-size: larger;
                margin: 10px;
            }

            textarea {
                width: 80%;
                height: 20vh;
                font-size: larger;
                margin: 10px;
                resize: none;
            }

            button {
                background-color: $button_color;
                color: $header_color;
                width: 450px;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                font-size: 1.5em;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;
                    color: $main_color;
                }
            }
        }

        .comments {
            text-align: center;
            width: 40%;

            h1 {
                font-size: 3em;
                padding: 0px;
                margin: 0px;
            }

            .comment {
                display: inline-block;
                width: 80%;
                height: auto;
                margin-top: 10px;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 20px;
                margin: 10px;
                font-size: 1.5em;
                text-align: left;

                .delete-comment-button {
                    text-align: right;

                    button {
                        background-color: $button_color;
                        color: $header_color;
                        width: 100px;
                        border: 0px;
                        border-radius: 5px;
                        padding: 10px;
                        margin: 10px;
                        font-size: 0.5em;
                        cursor: pointer;

                        &:hover {
                            background-color: $header_color;
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
    
    .admin-user {
        text-align: center;
    }

    .user-config-hud {
        button {
            background-color: $button_color;
            color: $header_color;
            width: 200px;
            border: 0px;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $header_color;
                color: $main_color;

                a {
                    color: $main_color;
                }
            }

            a {
                text-decoration: none;
            }
        }
    }

    .admin-user-update {
        text-align: center;

        form {
            text-align: center;
            display: block;

            h1 {
                font-size: 3em;
                padding: 0px;
                margin: 0px;
            }

            label {
                display: block;
            }

            input {
                width: 80%;
                height: 5vh;
                font-size: larger;
                margin: 10px;
            }

            textarea {
                width: 80%;
                height: 20vh;
                font-size: larger;
                margin: 10px;
            }

            button {
                background-color: $button_color;
                color: $header_color;
                width: 450px;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                font-size: 1.5em;
                cursor: pointer;

                &:hover {
                    background-color: $header_color;
                    color: $main_color;
                }
            }
        }
    }

    .home {
        text-align: center;
        margin: 20px;

        h1 {
            font-size: 3em;
            padding: 0px;
            margin: 0px;
        }

        p {
            font-size: 1.5em;
            padding: 0px;
            margin: 0px;
        }

        img {
            width: 20vw;
            height: auto;
        }
    }
}

footer {
    background-color: $header_color;
    color: $main_color;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0px;
    text-align: center;
    bottom: 0px;
    position: absolute;

    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    button {
        background-color: $button_color;
        color: $header_color;
        width: 140px;
        border: 0px;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;

        &:hover {
            background-color: $header_color;
            
            a {
                color: $main_color;
            }
        }
    }
}